extends layout

block content
  h1= artifact Create
  form(id='ArtifactForm', action="/artifacts", method="POST")
    div.form-group
      label(for='artifact_type') Artifact type
      input#artifact_type(type='text', name='artifact_type')
      
    div.form-group
      label(for='origin') Origin
      input#origin(type='text', name='origin')
      
    div.form-group
      label(for='age') Age
      input#age(type='number', name='age')
      
    input(type="submit")
    
  script.
    document.forms['ArtifactForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // Optionally, show a loading spinner or message indicating form submission is in progress
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // Collect form data
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Save succeeded");
        // Optionally handle the server response body
      })
      .catch((error) => {
        // Handle error, show user-friendly message
        alert("Save failed: " + error);
      });
    });
