extends layout

block content
  h1= title
  form(id='ArtifactForm', action="/resource/artifacts", method="POST")
    div.form-group
      label(for='name') Artifact Name
      input#name(type='text', name='name', required=true)
    div.form-group
      label(for='origin') Origin
      input#origin(type='text', name='origin', required=true)
    div.form-group
      label(for='age') Age (in years)
      input#age(type='number', name='age', required=true)
    input(type="submit", value="Create")

  script.
    document.forms['ArtifactForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
        window.location.href = '/artifacts';
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });
